body {
    background-image: url("../images/titan.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

.font-avengers {
    font-family: 'Anton', sans-serif;
}

.hide {
    display: none;
}

.remove img {
    opacity: 0.4;
}

#character-select, #arena {
    position: relative;
    max-width: 960px;
    height: 480px;
    margin: 40px auto;
}

#character-label, #arena-label, .label {
    color: #fff;
    /* position: absolute;
    bottom: 50%;
    left: 50%;
    margin-bottom: -28px;
    margin-left: -211.5px; */
}

#character-menu {
    margin: 0 auto;
    max-width: 308px;
    background-color: #000;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
}

#character-menu img {
    max-width: 75px;
    max-height: 75px;
}
#character-menu .col-3 {
    border: 1px solid transparent;
    padding: 0;
}

#player-name, #player-hp, #opponent-name, #opponent-hp {
    color: #fff;
}

#player-model img, #opponent-model img {
    max-width: 400px;
    width: 100%;
}

#player-combat-text, #opponent-combat-text {
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -8px;
    font-size: 40px;
}

#player-combat-text {
    color: red;
}

#opponent-combat-text {
    color: green;
}

#vs-label {
    color: #fff;
    font-size: 40px;
    margin-top: 140px;
}

#attack {
    width: 50px;
    height: 50px;
    font-size: 24px;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
}

#action-container {
    margin: 0 auto;
}